.facility-view-wrapper {
  margin-top: -9px;
}

.facility-title {
  font-size: 20px;
  font-weight: bold;
  padding: 12px 0px;
}

.facility-view-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}
.facility-group {
  padding-bottom: 10px;
}

.facility-icon {
  display: flex;
  font-size: 20px;
  gap: 10px;
  @include color-5500ff;
}
.facility-label {
  font-size: 16px;
  @include color-baabfa;
}

.blank {
  margin-bottom: 5px;
}

.facility-none {
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 900;
  @include color-5500ff;
}
