.all-check-area {
  width: 100%;
  padding: 1rem 0;
  border-bottom-style: solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include border-bottom-baabfa;

  .check-all__true,
  .check-all__false {
    cursor: pointer;
  }

  .check-all__true {
    font-weight: 900;
    font-size: 1.5rem;
    @include color-5500ff;
  }

  .check-all__false {
    @include color-baabfa;
  }
}

.room-area__container,
.cart-pay-area__container {
  padding: 1rem;
}

.room-area__container {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.3rem;

  .room-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    border: 0.1rem solid;
    border-radius: 0.7rem;
    box-shadow: 0.15rem 0.15rem rgba(0, 0, 0, 0.5);
    display: flex;
    gap: 3rem;
    @include border-c8adff;
    img {
      height: 100%;
    }
  }
}

.cart-pay-area__container {
  width: 25%;
}
