.global-input__shrink-container {
	position: relative;
	display: inline-flex;
	align-items: center;
	padding: 6px 12px;

	.global-input__shrink-label {
		position: relative;
		display: inline-block;
		left: 12px;
		z-index: 10;
		transition: transform linear 110ms;
		cursor: text;
		flex-shrink: 0;
		@include color-b8b8b8;
	}

	.global-input__shrink {
		position: absolute;
		top: 0;
		border-bottom: 1px solid;
	}

	&.focus {
		.global-input__shrink-label {
			font-size: 12px;
			transform: translate(-4px, -20px);
			@include color-c8adff;
		}
		.global-input__shrink {
			@include border-5500ff;
		}
	}
}
