.room-card {
  display: flex;
  align-items: flex-start;
  gap: 36px;
  padding: 32px;
  border-bottom: 1px solid #5500ff;

  .room-img {
    width: 460px;
    height: 300px;
    border-radius: 24px;
    object-fit: cover;
    background-size: cover;
  }

  .room-info-container {
    display: flex;
    flex: 1;
    gap: 16px;
    position: relative;
  }

  .room-info-line {
    width: 3px;
    height: 130px;
    margin-top: 170px;
    border-radius: 2px;
    @include background-5500ff;
  }

  .room-info_top {
    flex: 1;

    .room-info__name {
      font-size: 26px;
      font-weight: 700;
      margin-top: 10px;
    }

    .room-info__price {
      font-size: 28px;
      font-weight: bold;
      margin: 10px 0 12px;
      @include color-5500ff;
    }

    .room-info-other {
      font-size: 20px;
      font-weight: 400;
    }

    .room-info__icons {
      display: flex;
      margin: 8px 0;
      flex-wrap: wrap;

      .room-info-fac__name {
        font-size: 20px;
        font-weight: bold;
        margin-right: 8px;
        margin-bottom: 10px;
      }
    }

    .room-info__time {
      font-size: 16px;
      margin-top: 16px;
    }
  }

  .room-info__btn {
    display: flex;
    align-items: center;

    .btn-cart {
      font-size: 25px;
      padding: 10px 10px;
      border-radius: 5px;
      margin: 60px 20px;
      box-shadow: 1px 1px 3px #888888;
      @include background-5500ff;
      @include color-fafafa;
    }
    .btn-cart:hover {
      @include background-baabfa;
      @include color-5500ff;
    }

    .btn-reserve {
      font-size: 20px;
      padding: 12.5px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;
      box-shadow: 1px 1px 3px #888888;
      @include background-baabfa;
      @include color-5500ff;

      &:hover {
        @include background-5500ff;
        @include color-ffaf45;
      }
    }
  }
}
.room-info_bottom {
  margin-top: 110px;
}

.room-icon {
  display: inline;
  padding: 5px 15px;
  border-radius: 8px;
  font-size: 20px;
  box-shadow: 2px 2px 2px #888888;
  @include background-baabfa;
  @include color-5500ff;
}
.room-icon:hover {
  @include background-5500ff;
  @include color-baabfa;
}
div .room-icon {
  margin-right: 4px;
}
button.accom-modal-btn {
  font-size: 16px;
  font-weight: 700;
  padding: 12px 12px;
  border-radius: 4px;
  margin-left: 995px;
  box-shadow: 1px 1px 3px #888888;
  @include color-fafafa;
  @include background-5500ff;
}

button.accom-modal-btn:hover {
  @include color-5500ff;
  @include background-baabfa;
}

.btn-more-container {
  display: flex;
  justify-content: center;
  margin: 24px 0;
}

.btn-more {
  font-size: 16px;
  font-weight: bold;
  padding: 12px 200px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  box-shadow: 1px 1px 3px #888888;
  @include background-fafafa;
  @include color-5500ff;

  &:hover {
    @include background-f6f6f6;
    @include color-5500ff;
  }
}
