@use '@scss/_colors_variable.style.scss' as *;

.login-container {
	padding: 8% 0%;
}

.login-wrap {
	border: 1px solid rgba(255, 255, 255);
	width: 500px;
	margin: auto;
	padding: 5% 0%;
	box-shadow: 0px 0.5px 8px rgba(0, 0, 0, 0.4);
}

.login-page {
	width: 340px;
	margin-left: 80px;
}

.up {
	text-align: center;
}

.bottom {
   margin: 24px 80px ;
}

.naver-button {
	margin: 12px 0px;
}

