@use '@scss/_colors_variable.style.scss' as *;

.register-password-wrap {
	padding: 0px 85px;

	.register-password-text {
		font-size: 16px;
		margin-bottom: 8px;
	}

	input {
		width: 340px;
		height: 36x;
	}

	.register-pwd {
		margin-bottom: 20px;
	}

	.register-pwd-check {
		margin-bottom: 10px;
	}

	.pwd-unconsistent {
		font-size: 12px;
		color: #ff0f0f;
	}

	button {
		width: 340px;
		height: 36px;
		font-size: 14px;
		font-weight: normal;
	}
}
