.global-star-rating__star-list {
  color: transparent;
  z-index: 5;

  .global-star-rating__rate-star-container {
    width: 54px;
    height: 54px;

    &.test {
      width: 24px;
      height: 24px;
    }

    &.hover {
      @include color-ffaf45;
    }
    &.half-hover {
      .global-star-rating__rate-star {
        width: 50%;
      }
    }
    .global-star-rating__rate-star {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }
}
