.scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  box-shadow: 2px 2px 3px #727272;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  cursor: pointer;
  @include color-5500ff;
  @include background-baabfa;
}
.scroll-to-top-btn:hover {
  @include color-ffaf45;
  @include background-5500ff;
}
.noReviewYetOnHeader{
  font-size: 20px;
  padding-top: 65px;
  color: #888888;
}
.accom-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;

  &__image {
    width: 100%;
    height: 650px;
    display: block;
    object-fit: cover;
    background-size: cover;
    background-image: url(./img/sampleImg2.png);
  }
  .accom-header-img-change-btn {
    width: 50px;
    height: 50px;
    background-color: #22222254;
    border-radius: 50%;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
  }
  .accom-header-img-change-btn:hover {
    background-color: #1b181875;
  }
  &__text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 42px;
    font-weight: bold;
    font-family: 'KCC-Ganpan';
    @include color-5500ff;

    .accom-header__price {
      font-size: 34px;
      font-weight: bold;
      display: flex;
      @include color-5500ff;

      .accom-room-sub__price {
        display: flex;
        font-size: 18px;
        align-items: center;
        padding-left: 5px;
        @include color-888888;
      }
    }
  }
}

.accom-location {
  font-size: 22px;
  color: #666;
}

.accom-info-detail {
  display: flex;
  gap: 40px;
  margin: 32px 0;
  flex-wrap: wrap;

  .accom-info__map,
  .accom-info__review,
  .accom-info__facility {
    flex: 1 1 30%;
    min-width: 280px;
    border-radius: 16px;
    padding: 24px;
    font-size: 16px;
    box-shadow: inset 0px 0px 8px rgb(0, 0, 0, 0.25);
    border: 1.5px solid #baabfa;
    @include background-fafafa;
  }
  .accom-info__map {
    background-image: url(/src/assets/images/acc-list-page/fakeMapImg.png);
    background-size: cover;

    .accom-location-btn {
      padding: 10px;
      border-radius: 5px;
      box-shadow: 1px 1px 2px #222222;
      @include color-fafafa;
      @include background-5500ff;
    }
    .accom-location-btn:hover {
      @include color-5500ff;
      @include background-baabfa;
    }
  }

  .accom-info__review {
    display: flex;
    font-size: 7px;
    padding: 50px;
    line-height: 1.4;
    flex-direction: column;

    .review-header {
  display: flex;
  align-items: center;   
  gap: 8px;
  
  margin-bottom: 40px;

  .nickname-header {
    font-weight: bold;
    font-size: 18px;
    margin-right: 5px;
    @include color-5500ff;
  }

  .latest-review-stars {
    display: flex;           
    align-items: center;     
    float: left;
    width: 20px;
  }
}
    .review-content{
      font-size: 16px;
    }
  }
}

.room-line {
  border-bottom: 2px solid #5500ff;
}
.review-section {
  margin: 24px 0;

  .review-section__header {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  .review-card {
    border-radius: 8px;
    padding: 20px 20px;
    width: 100%;

    .images {
      display: flex;
      gap: 10px;
      justify-content: space-evenly;
      .img {
        border: 1px solid #baabfa;
        width: 200px;
        height: 160px;
        object-fit: cover;
        background-size: cover;
        background-image: url(./img/sample1.png);
        border-radius: 4px;
      }
    }
  }
}

.mapStyle {
  margin-top: 20px;
  width: 100%;
  height: 500px;
  box-shadow: 0px 0px 4px 0px #888888;
  border-radius: 8px;
  margin-bottom: 40px;
}

.acc-detail-section__title {
  font-size: 28px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
}

.review-text-box {
  margin: 5px 30px;

  .nickname {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 24px;
  }

  .stars {
    font-size: 18px;
    margin-left: 20px;
    vertical-align: middle;
    @include color-ffaf45;
  }

  .inner-card-comment {
    font-size: 18px;
    margin: 18px 0px;
  }

  .see-more-comment {
    margin-left: 1130px;
    font-size: 14px;
    cursor: pointer;
    @include color-baabfa;
  }
  .see-more-comment:hover {
    @include color-5500ff;
  }
}

.review-star {
  border: 2px solid #5500ff;
  padding: 5px 10px;
  border-radius: 4px;
  display: flex;
  font-weight: 700;
  align-items: center;

  .review-star-style {
    width: 18px;
    height: 18px;
    @include color-ffaf45;
  }
}

.empty_blank {
  padding: 32px;
}

.modal__inner.accom-modal__inner {
  width: 650px;
  height: 500px;
}

.accom-modal-container {
  text-align: center;
  padding: 20px 60px;
}

.accom-modal-title {
  font-size: 22px;
  margin-bottom: 5px;
  line-height: 30px;
}

textarea.global-textarea.accom-modal-textbox {
  height: 140px;
  margin-top: 12px;
  font-size: 16px;
  border: 2px solid #baabfa;
}

button.global-button.global-button__primary.accom-modal-btn-inner {
  padding: 10px 20px;
  display: flex;
  margin-left: 434px;
}

.accom-modal-img {
  width: 50px;
  height: 50px;
  border: 2px solid #baabfa;
  border-radius: 4px;
  margin-top: 5px;
  font-size: 36px;
  padding-top: 3px;
  @include color-baabfa;
}

.accom-modal-img-icon {
  @include color-baabfa;
}

.custom-overlay-bubble {
  font-weight: 700;
  border-radius: 6px;
  border: 1px solid #baabfa;
  padding: 10px 20px;
  box-shadow: 1px 1px 3px #888888;
  @include background-fafafa;
}
.info-comment {
  font-size: 16px;
  text-align: left;
}
.slick-container {
  padding: 0px 20px;
}
.image-box {
  width: 210px;
  height: 150px;
  cursor: pointer;
  flex: 0 0 auto;
  transition: 0.3s ease;
  margin: 0px 20px;
  @include background-f6f6f6;
  &:hover {
    transform: scale(1.05);
    z-index: 2;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
}
.slick-prev,
.slick-next {
  z-index: 100;
}

.slick-container {
  padding: 0px 20px;
}

.slick-slider {
  overflow: hidden;
}
.slick-slide > div {
  display: flex;
  justify-content: center;
}
.image-wrapper {
  position: relative;
}

.image-box-btn {
  padding: 20px;
  border-radius: 50%;
  position: absolute;
  background-color: #222222;
  z-index: 10;
  @include color-5500ff;
}
