.filter-panel__container {
  border-radius: 5px;
  padding: 3px 15px;
  border: 3px solid;
  @include border-c8adff;

  .line {
    margin: 10px 0;
  }
}

.filter-panel__container.accom-filter-panel {
  .filter-group {
    margin: 1rem;
  }
  .filter-options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
