
.sign-circle-wrap{
    width: 76px;
    height: 12px;
    // margin: 118px 212px 283px ;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 212px;
    top: 68px;


}

.sign-circle-max{
    width: 12px;
    height: 12px;
    border-radius: 100%;
    @include background-5500ff;

}

.sign-circle-min{
    width: 8px;
    height: 8px;
    margin: 2px 2px;
    border-radius: 100%;
    @include background-c8adff;

}


// @include color-c8adff;