.room-item {
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid $color-c8adff;
  border-radius: 0.7rem;
  box-shadow: 0.15rem 0.15rem rgba(0, 0, 0, 0.5);
  display: flex;
  gap: 3rem;
  img {
    height: 100%;
  }
}
