.accommodation-item {
  width: 815px;
  height: 202px;
  display: flex;
}
.accom-name {
  font-family: "KCC-Ganpan";
  font-size: 24px;
  @include color-5500ff;
}
.level-one {
  display: flex;
  justify-content: space-between;
}
.image {
  width: 300px;
  height: 180px;
  border-radius: 10px;
  background-color: black;
}

.accom-info {
  width: 460px;
  height: 180px;
  background-color: #f8f8f8;
  margin-left: 20px;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgb(0, 0, 0, 0.25);
}

.accom-info-icon {
  width: 35px;
  height: 25px;
  background-color: #baabfa;
  border-radius: 0px 10px 0px 10px;
  box-shadow: inset 2px 2px 2px 0px rgb(0, 0, 0, 0.45);
  text-align: center;
  margin-top: 10px;
  @include color-5500ff;
}
.accom-price {
  font-size: 16px;
  font-family: "SUIT";
  vertical-align: middle;
}
.accom-price strong {
  font-size: 25px;
  font-weight: 900;
  margin-left: 10px;
  margin-right: 5px;
  @include color-5500ff;
}
.accom-info-time-price {
  margin-top: 30px;
}
p.accom-price {
  margin-left: 250px;
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
}
.accom-time {
  margin-left: 15px;
}

.item-line {
  border-top: 3px solid #baabfa;
  margin-bottom: 25px;
  margin-right: 30px;
  width: 780px;
}

.v-line {
  border-left: 3px solid #baabfa;
  height: 60px;
  float: left;
}
