.global-select__selected-button {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0 12px;
	line-height: 34px;
	font-weight: 600;
	font-size: 16px;
	border: 1px solid;
	border-radius: 4px;
	@include border-1e2022;

	.global-select__button-icon {
		width: 24px;
		height: 24px;
		transition: transform 100ms linear;
	}
	&.open {
		.global-select__button-icon {
			transform: rotate(180deg);
		}
	}
}
