.user-page.challenge-item__container {
	padding: 12px 16px;
	border: 1px solid;
	border-radius: 8px;
	overflow: hidden;
	@include border-c8adff;

	.challenge-item__coupon-name-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 24px;
		.challenge-item__coupon-name {
			font-size: 26px;
			font-weight: 600;
			@include color-5500ff;
		}
		.challenge-item__coupon-icon {
			margin-right: 4px;
		}
		.challenge-item__coupon-button {
			padding: 12px 24px;
			font-size: 18px;
		}
	}
	.challenge-item__challenge-name {
		font-size: 20px;
		margin-bottom: 24px;
	}
	.challenge-item__challenge-progress {
		font-size: 20px;
		margin-bottom: 12px;
	}
}
