.banner-container {
  width: 100%;
  background-color: transparent;
  padding: 4rem 0;
}

.banner-text {
  font-family: 'EF_jejudoldam';
  font-size: 2rem;
  background-color: transparent;
  color: white;
  line-height: 4rem;
}
