@use '@scss/_colors_variable.style.scss' as *;

.pwd-resetting-content-wrap {
	padding-bottom: 10%;


	.pwd-resetting-email-text {
		font-size: 16px;
		margin-bottom: 8px ;
	}

	.pwd-resetting-email-input {
		width: 340px;
		margin-bottom: 20px ;
	}

	.pwd-resetting-email-code-text {
		font-size: 16px;
		margin-bottom: 8px ;
	}

	.pwd-resetting-email-code-input {
		width: 340px;
	}

	.pwd-resetting-receive {
		font-size: 10px;
		margin-top: 8px;
	}

	.email-auth {
		width: 340px;
		padding: 13px;
		font-size: 14px;
		font-weight: lighter;
		margin-top: 20px;
	}
}
