@use '@scss/_colors_variable.style.scss' as *;

.chat-top-title {
	font-size: 34px;
	font-weight: bold;
	margin-top: 32px;
	margin-left: 190px;
}

.chat-content-input {
	width: 400px;
	height: 50px;
	margin-top: 40px;
	margin-left: 50px;
}

.chat-content-select {
	margin-top: 40px;
	margin-left: 50px;
	width: 400px;
}
