.slider-style-length {
  margin-right: 35px;
  margin-bottom: 10px;
}
.filter-group {
  margin-left: 30px;
}

h3 {
  margin-bottom: 10px;
  margin-top: 20px;
}

p.price-range {
  @include color-888888;
}
