.container {
  width: 80rem;
  height: 700px;
  border: 2px solid #baabfa;
  border-radius: 8px;
  background-color: #fafafa;
  z-index: 100;
  position: absolute;
  left: -3rem;
  top: 3rem;
}

#map {
  width: 640px;
  height: 700px;
  background-color: #baabfa;
}
