.global-select__dropdown-container {
	position: absolute;
	width: inherit;
	max-height: 0;
	overflow: hidden;
	top: calc(100% + 4px);
	left: 0;
	transition: 150ms linear;
	z-index: 1000;

	// TODO: develop pull 받은 후 색상 수정해야 함
	box-shadow: 1px 2px 8px 0 #000000;

	@include background-fafafa;

	.global-select__dropdown {
		max-height: 200px;
		overflow-y: scroll;
	}

	&.open {
		max-height: 200px;
		border-radius: 4px;
	}
}
