@use '@scss/_colors_variable.style.scss' as *;

.chat-room-content-log-wrap {
	width: 100%;
	margin: auto;
	margin-top: 24px;
	margin-bottom: 12px;
	padding: 30% 0%;
	border: 1px solid;
	border-radius: 8px;
	position: relative;

	@include border-5500ff;
}

.chat-room-content-log {
	box-sizing: border-box;

	position: absolute;
	bottom: 40%;
	width: 100%;
}
