@use '@scss/_colors_variable.style.scss' as *;

.chat-room-content-log-wrap {
  width: 800px;
	height: 429px;
	margin: auto;
	margin-top: 24px;
	margin-bottom: 12px;
	border: 1px solid;
  border-radius: 8px;
  @include border-5500ff
}