.register-comple-wrap {
	width: 340px;
	height: 142px;
	font-size: 14px;
	margin: auto;

	.register-comple-text {
		font-size: 24px;
		text-align: center;
	}

	.register-nickName {
		font-weight: bold;
		@include color-5500ff;
	}

	.register-comlet-btn {
		width: 340px;
		padding: 13px;
		margin-top: 50px;
	}
}
