@use '@scss/_colors_variable.style.scss' as *;

.pwd-resetting-content-wrap {
	width: 340px;
	margin-top: 40px;
	margin-left: 80px;

	.pwd-resetting-text {
		font-size: 16px;
		margin-bottom: 8px;
	}

	.pwd-resetting-pwd-text {
		font-size: 16px;
		margin-bottom: 8px;
	}

	.pwd-resetting-pwd-input {
		width: 340px;
		margin-bottom: 20px;
	}

	.pwd-resetting-pwd-check-text {
		font-size: 16px;
		margin-bottom: 8px;
	}

	.pwd-resetting-pwd-check-input {
		width: 340px;
	}

	.pwd-resetting-receive {
		font-size: 10px;
		margin-top: 8px;
	}

	.pwd-update {
		width: 340px;
		padding: 13px;
		font-size: 14px;
		font-weight: lighter;
		margin-top: 20px;
	}

	.pwd-resetting-receive {
		font-size: 10px;
		margin-top: 8px;
	}

	.pwd-fail-color {
		color: #ff0f0f;
	}
}
