@use '@scss/_colors_variable.style.scss' as *;

.mid {
	margin-top: 90px;
	}

	.login-email-input {
		margin-top: 5%;
		width: 340px;
	}

	.login-pwd-input {
		margin-top: 5%;
		width: 340px;
	}

	p {
		font-size: 12px;
		@include color-c8adff;
	}

	.login__font {
		font-size: 12px;
		font-weight: normal;
	}

	.login-Btn {
		width: 100%;
		padding: 11px 0px;
		margin-top: 5%;
		border-radius: 6px;
	}

	.register-resetting {
		display: flex;
		justify-content: space-between;
    margin-top: 8px;
		margin-bottom: 24px;
    font-size: 16px;

		span {
			font-size: 8px;
		}
	}

