@use '@scss/_colors_variable.style.scss' as *;

.pwd-resetting-wrap {
	width: 500px;
	height: 650px;
	margin: 402px 402px 403px 402px;
	border: 1px solid rgba(255, 255, 255);
	box-shadow: 0px 0.5px 8px rgba(0, 0, 0, 0.4);
}

.resetting-title {
	width: 172px;
	height: 34px;
	margin-top: 60px;
	margin-left: 164px;
	font-size: 27px;
	font-weight: bold;
}

.resetting-Description {
	width: 317px;
	height: 19px;
	margin-top: 60px;
	margin-left: 97px;
	font-size: 15px;
}

.description-color {
	color: #ff0f0f;
}
