.accom-form__container {
  width: 100%;
  padding: 5rem 7rem; /* 레이아웃 컴포넌트 적용 후 삭제 예정 */
  display: flex;
  flex-direction: column;
  @include color-aaaab3;
  @include background-f6f6f6;

  .accom-reg-date {
    width: 100%;
    padding: 16px;
    display: flex;
    align-items: baseline;

    .accom-date {
      font-size: 22px;
      font-weight: 900;
      @include color-1e2022;
    }
  }

  // 숙박업소 등록 폼
  .accom-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    gap: 32px;

    // 등록 폼 항목
    .accom-form-item {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 24px;

      // 등록 폼 항목 헤더
      .accom-form-item-header {
        @include color-1e2022;
        @include border-bottom-aaaab3;
      }

      // 등록 폼 항목 내용
      .accom-form-item-content {
        display: flex;
        flex-direction: row;
        gap: 16px;

        &.accom-desc__container {
          flex-direction: column;
        }

        // 숙박 유형 select
        .accom-type-select {
          position: relative;
          width: 30%;
          font-size: 16px;
          padding: 8px;
          border: none;
          outline: none;
          border-radius: 10px;
          text-align: center;

          -o-appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;

          @include admin-input-shadow;
        }

        .accom-image {
          width: 30%;
        }

        .accom-desc {
          width: 100%;
          min-height: 300px;
          padding: 16px;
          border-radius: 10px;
          font-size: 20px;
          @include color-1e2022;
          @include admin-input-shadow;
        }

        .accom-desc-count {
          width: 100%;
          text-align: right;

          // 글자 수 세기 경고텍스트
          .accom-desc-warning {
            color: $color-ff4545;
            font-weight: 900;
            margin-right: 20px;
            animation-name: word-warning;
            animation-duration: 1000ms;
            animation-timing-function: ease-in-out;
          }
        }

        .map-area {
        }
        .map-input {
          display: flex;
          gap: 32px;
        }

        // 우편번호
        .accom-zip-code {
          width: 20%;
        }

        // 주소지
        .accom-addr {
          width: 80%;
        }
      }

      .content__container,
      .fac-content__container {
        width: 100%;
        border-radius: 10px;
        padding: 32px;
        display: flex;
        gap: 32px;
        @include admin-input-shadow;
      }

      .content__container {
        flex-direction: column;
      }

      .fac-content__container {
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }
}

// TODO : 애니메이션 적용하기
@keyframes word-warning {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(4deg);
  }
  75% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
