.accom-form__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  @include color-aaaab3;
  @include background-f6f6f6;

  .accom-reg-date {
    width: 100%;
    padding: 16px;
    display: flex;
    align-items: baseline;

    .accom-date {
      font-size: 22px;
      font-weight: 900;
      @include color-1e2022;
      margin-right: 8px;
    }
  }
}

// TODO : 애니메이션 적용하기
@keyframes word-warning {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(4deg);
  }
  75% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
