.main-section {
  width: 100%;
  display: flex;
  gap: 100px;
  margin-top: 20px;

  .filter-section {
    width: 268px;
  }
  .filter-section.accom-filter-section {
    width: 350px;
  }

  .list-section {
    width: 65%;

    .accom-list-ul {
      min-height: 1125px;
    }

    .accom-pagination {
      margin: 40px;
      display: flex;
    }
    .item-line {
      margin-bottom: 20px;
      width: 814px;
      @include border-top-color-baabfa;
    }
  }
}
.search-bar {
  .search__container {
    @include background-color-240;
  }
}
