.filter-section {
  width: 268px;
}

.accom-page {
  width: 1280px;
  margin: 0 auto;
}
.main-section {
  display: flex;
  gap: 130px;
  margin-top: 17px;
}

.search-bar {
  width: 1200px;
  height: 108px;
  border: 2px solid #baabfa;
  border-radius: 8px;
}
