.reservation-person-form__container {
  width: 100%;
  display: flex;
  margin-bottom: 7rem;
  .reservation-person-form {
    width: 100%;
    padding: 0 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    .reservation-person-form-item {
      width: 100%;

      .reservation-person-input {
        width: 100%;
        font-size: 1rem;
      }

      .reservation-person-form-select {
        width: 100%;

        button {
          @include color-5500ff;
          @include border-5500ff;
        }
      }
    }
  }
  .reservation-person-image {
    width: 30%;
  }
}
