$color-fafafa: #fafafa;
$color-ffffff: #ffffff;
$color-000000: #000000;
$color-888888: #888888;
$color-e6e6e6: #e6e6e6;
$color-f8f8f8: #f8f8f8;
$color-cccccc: #cccccc;
$color-aaaab3: #aaaab3;
$color-dfe1e4: #dfe1e4;
$color-1e2022: #1e2022;
$color-b8b8b8: #b8b8b8;
$color-ff4545: #ff4545;
$color-e6e6e6: #e6e6e6;
$color-a9813d: #a9813d;
$color-f6f6f6: #f6f6f6;

// 팀컬러
$color-5500ff: #5500ff;
$color-c8adff: #c8adff;
$color-baabfa: #baabfa;
$color-ffaf45: #ffaf45;

// 봄
$color-ffa6b8: #ffa6b8;
$color-fee088: #fee088;

// 여름
$color-4e90f5: #4e90f5;
$color-9ebeed: #9ebeed;

// 가을
$color-69140e: #69140e;
$color-a44200: #a44200;

// 겨울
$color-38506a: #38506a;
$color-7c92a8: #7c92a8;
