@use '@scss/_colors_variable.style.scss' as *;
// 색상 관련 css 추가

@mixin color-fafafa {
  & {
    color: $color-fafafa;
  }
}

@mixin color-1e2022 {
  & {
    color: $color-1e2022;
  }
}

@mixin color-5500ff {
  & {
    color: $color-5500ff;
  }
  @at-root .spring & {
    color: $color-ffa6b8;
  }
  @at-root .summer & {
    color: $color-4e90f5;
  }
  @at-root .autumn & {
    color: $color-69140e;
  }
  @at-root .winter & {
    color: $color-38506a;
  }
}

@mixin color-c8adff {
  & {
    color: $color-c8adff;
  }
  @at-root .spring & {
    color: $color-fee088;
  }
  @at-root .summer & {
    color: $color-9ebeed;
  }
  @at-root .autumn & {
    color: $color-a44200;
  }
  @at-root .winter & {
    color: $color-7c92a8;
  }
}

@mixin color-b8b8b8 {
  & {
    color: $color-b8b8b8;
  }
}

@mixin color-ffaf45 {
  & {
    color: $color-ffaf45;
  }
}

@mixin color-f6f6f6 {
  & {
    color: $color-f6f6f6;
  }
}

@mixin color-e6e6e6 {
  & {
    color: $color-e6e6e6;
  }
}

@mixin color-1c0900 {
  & {
    color: $color-1c0900;
  }
}

@mixin border-a9813d {
  & {
    border-color: $color-a9813d;
  }
}

@mixin color-a9813d {
  & {
    color: $color-a9813d;
  }
}

@mixin border-b8b8b8 {
  & {
    border-color: $color-b8b8b8;
  }
}
@mixin border-5500ff {
  & {
    border-color: $color-5500ff;
  }
  @at-root .spring & {
    border-color: $color-ffa6b8;
  }
  @at-root .summer & {
    border-color: $color-4e90f5;
  }
  @at-root .autumn & {
    border-color: $color-69140e;
  }
  @at-root .winter & {
    border-color: $color-38506a;
  }
}

@mixin border-c8adff {
  & {
    border-color: $color-c8adff;
  }
  @at-root .spring & {
    border-color: $color-fee088;
  }
  @at-root .summer & {
    border-color: $color-9ebeed;
  }
  @at-root .autumn & {
    border-color: $color-a44200;
  }
  @at-root .winter & {
    border-color: $color-7c92a8;
  }
}

@mixin border-1e2022 {
  & {
    border-color: $color-1e2022;
  }
}

@mixin background-5500ff {
  & {
    background: $color-5500ff;
  }
  @at-root .spring & {
    background: $color-ffa6b8;
  }
  @at-root .summer & {
    background: $color-4e90f5;
  }
  @at-root .autumn & {
    background: $color-69140e;
  }
  @at-root .winter & {
    background: $color-38506a;
  }
}

@mixin background-c8adff {
  & {
    background: $color-c8adff;
  }
  @at-root .spring & {
    background: $color-fee088;
  }
  @at-root .summer & {
    background: $color-9ebeed;
  }
  @at-root .autumn & {
    background: $color-a44200;
  }
  @at-root .winter & {
    background: $color-7c92a8;
  }
}

@mixin color-ffffff {
  & {
    color: $color-ffffff;
  }
}

@mixin background-1e2022 {
  & {
    background: $color-1e2022;
  }
}

@mixin background-baabfa {
  & {
    background: $color-baabfa;
  }
}

@mixin color-baabfa {
  & {
    color: $color-baabfa;
  }
  @at-root .spring & {
    color: $color-fee088;
  }
  @at-root .summer & {
    color: $color-9ebeed;
  }
  @at-root .autumn & {
    color: $color-a44200;
  }
  @at-root .winter & {
    color: $color-7c92a8;
  }
}

@mixin background-fafafa {
  & {
    background: $color-fafafa;
  }
}

@mixin background-ffaf45 {
  & {
    background: $color-ffaf45;
  }
}

@mixin background-ff4545 {
  & {
    background: $color-ff4545;
  }
}

@mixin background-b8b8b8 {
  & {
    background: $color-b8b8b8;
  }
}

@mixin background-e6e6e6 {
  & {
    background: $color-e6e6e6;
  }
}

@mixin background-a9813d {
  & {
    background: $color-a9813d;
  }
}

// @mixin receipt-border-bottom {
//   & {
//     border-bottom: 0.3rem dashed $color-c8adff;
//   }
// }

// @mixin location-box-shadow {
//   & {
//     box-shadow: 0 0 0 0.1rem $color-5500ff inset, 0 0 0 0.2rem rgba(255, 255, 255, 0.15) inset, 0 0.5rem 0 0 rgba(137, 52, 235, 0.7),
//       0 0.5rem 0 0.1rem rgba(0, 0, 0, 0.4), 0 0.5rem 0.5rem 0.1rem rgba(0, 0, 0, 0.5);
//   }
// }

// @mixin location-box-shadow-active {
//   & {
//     box-shadow: 0 0 0 0.1rem $color-5500ff inset, 0 0 0 0.2rem rgba(255, 255, 255, 0.15) inset, 0 0 0 0.1rem rgba(0, 0, 0, 0.4);
//   }
// }

@mixin color-888888 {
  & {
    color: $color-888888;
  }
}

@mixin border-bottom-baabfa {
  & {
    border-bottom-color: $color-baabfa;
  }
  @at-root .spring & {
    border-bottom-color: $color-fee088;
  }
  @at-root .summer & {
    border-bottom-color: $color-9ebeed;
  }
  @at-root .autumn & {
    border-bottom-color: $color-a44200;
  }
  @at-root .winter & {
    border-bottom-color: $color-7c92a8;
  }
}

@mixin border-bottom-reservation-5500ff {
  & {
    border-bottom-color: $color-5500ff;
  }
  @at-root .spring & {
    border-bottom-color: $color-ffa6b8;
  }
  @at-root .summer & {
    border-bottom-color: $color-4e90f5;
  }
  @at-root .autumn & {
    border-bottom-color: $color-69140e;
  }
  @at-root .winter & {
    border-bottom-color: $color-38506a;
  }
}

@mixin color-cccccc {
  & {
    color: $color-cccccc;
  }
}

@mixin color-aaaab3 {
  & {
    color: $color-aaaab3;
  }
}
@mixin background-f6f6f6 {
  & {
    background-color: $color-f6f6f6;
  }
}

@mixin color-888888 {
  & {
    color: $color-888888;
  }
}

// 관리자 input shadow
@mixin admin-input-shadow {
  & {
    box-shadow: inset 8px 8px 8px $color-b8b8b8,
      inset -8px -8px 8px $color-ffffff;
  }
}

@mixin border-bottom-aaaab3 {
  & {
    padding-bottom: 16px;
    border-bottom: 1px solid $color-aaaab3;
  }
}

@mixin admin-fac-button {
  & {
    border: 1px solid $color-e6e6e6;
    background: $color-fafafa;
    box-shadow: 6px 6px 12px $color-b8b8b8, -6px -6px 12px $color-ffffff;
  }
}

@mixin admin-fac-button-active-shadow {
  & {
    color: $color-888888;
    box-shadow: inset 4px 4px 12px $color-b8b8b8,
      inset -4px -4px 12px $color-ffffff;
  }
}

// 관리자 영역 스타일
@mixin admin-body {
  & {
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 0.3rem $color-888888,
      -0.1rem -0.1rem 0.1rem $color-ffffff;
    padding: 1rem;
    margin-bottom: 32px;
    @include background-f6f6f6;
  }
}

@mixin admin-reservation-modal-border-right {
  & {
    border-right: 1px solid $color-ff4545;
  }
}

@mixin color-ff4545 {
  & {
    color: $color-ff4545;
  }
}

@mixin main-location-button-shadow {
  & {
    box-shadow: 0 0 0 0.1rem $color-5500ff inset,
      0 0 0 0.2rem rgba(255, 255, 255, 0.15) inset, 0 0.5rem 0 0 $color-c8adff,
      0 0.5rem 0 0.1rem rgba(0, 0, 0, 0.4),
      0 0.5rem 0.5rem 0.1rem rgba(0, 0, 0, 0.5);
  }
  @at-root .spring & {
    box-shadow: 0 0 0 0.1rem $color-fee088 inset,
      0 0 0 0.2rem rgba(255, 255, 255, 0.15) inset, 0 0.5rem 0 0 $color-ffa6b8,
      0 0.5rem 0 0.1rem rgba(0, 0, 0, 0.4),
      0 0.5rem 0.5rem 0.1rem rgba(0, 0, 0, 0.5);
  }
  @at-root .summer & {
    box-shadow: 0 0 0 0.1rem $color-9ebeed inset,
      0 0 0 0.2rem rgba(255, 255, 255, 0.15) inset, 0 0.5rem 0 0 $color-4e90f5,
      0 0.5rem 0 0.1rem rgba(0, 0, 0, 0.4),
      0 0.5rem 0.5rem 0.1rem rgba(0, 0, 0, 0.5);
  }
  @at-root .autumn & {
    box-shadow: 0 0 0 0.1rem $color-a44200 inset,
      0 0 0 0.2rem rgba(255, 255, 255, 0.15) inset, 0 0.5rem 0 0 $color-69140e,
      0 0.5rem 0 0.1rem rgba(0, 0, 0, 0.4),
      0 0.5rem 0.5rem 0.1rem rgba(0, 0, 0, 0.5);
  }
  @at-root .winter & {
    box-shadow: 0 0 0 0.1rem $color-7c92a8 inset,
      0 0 0 0.2rem rgba(255, 255, 255, 0.15) inset, 0 0.5rem 0 0 $color-38506a,
      0 0.5rem 0 0.1rem rgba(0, 0, 0, 0.4),
      0 0.5rem 0.5rem 0.1rem rgba(0, 0, 0, 0.5);
  }
}

@mixin location-box-shadow-active {
  & {
    box-shadow: 0 0 0 0.1rem $color-5500ff inset,
      0 0 0 0.2rem rgba(255, 255, 255, 0.15) inset,
      0 0 0 0.1rem rgba(0, 0, 0, 0.4);
  }
  @at-root .spring & {
    box-shadow: 0 0 0 0.1rem $color-ffa6b8 inset,
      0 0 0 0.2rem rgba(255, 255, 255, 0.15) inset,
      0 0 0 0.1rem rgba(0, 0, 0, 0.4);
  }
  @at-root .summer & {
    box-shadow: 0 0 0 0.1rem $color-4e90f5 inset,
      0 0 0 0.2rem rgba(255, 255, 255, 0.15) inset,
      0 0 0 0.1rem rgba(0, 0, 0, 0.4);
  }
  @at-root .autumn & {
    box-shadow: 0 0 0 0.1rem $color-69140e inset,
      0 0 0 0.2rem rgba(255, 255, 255, 0.15) inset,
      0 0 0 0.1rem rgba(0, 0, 0, 0.4);
  }
  @at-root .winter & {
    box-shadow: 0 0 0 0.1rem $color-38506a inset,
      0 0 0 0.2rem rgba(255, 255, 255, 0.15) inset,
      0 0 0 0.1rem rgba(0, 0, 0, 0.4);
  }
}
@mixin border-c8adff-3px {
  & {
    border: 3px solid $color-c8adff;
  }
}
@mixin border-top-color-baabfa {
  & {
    border-top: 3px solid #baabfa;
  }
}

@mixin border-left-color-baabfa {
  & {
    border-left: 3px solid #baabfa;
  }
}

@mixin border-baabfa-3px {
  & {
    border: 3px solid #baabfa;
  }
}

@mixin border-bottom-baabfa-1px {
  & {
    border: 3px solid #baabfa;
  }
}

@mixin border-baabfa-1px {
  & {
    border: 1px solid #baabfa;
  }
}
@mixin border-baabfa-1_5px {
  & {
    border: 1.5px solid #baabfa;
  }
}

@mixin border-baabfa-2px {
  & {
    border: 2px solid #baabfa;
  }
}
@mixin background-color-240 {
  & {
    background-color: rgb(240, 240, 240);
  }
}

@mixin background-eeeeee {
  & {
    background-color: #eeeeee;
  }
}

@mixin border-bottom-5500ff-2px {
  & {
    // border-bottom: 2px solid #5500ff;
  }
}

@mixin background-ffffff {
  & {
    background: #ffffff;
  }
}

@mixin main-background-image {
  & {
    background-image: linear-gradient(
        to bottom,
        rgba(90, 0, 92, 0.5),
        rgba(137, 0, 139, 0.5),
        rgba(174, 0, 194, 0.5)
      ),
      url(../../assets/images/main-page/bg.webp);
  }
  @at-root .spring & {
    background-image: linear-gradient(
        to bottom,
        rgba(90, 0, 92, 0.5),
        rgba(137, 0, 139, 0.5),
        rgba(174, 0, 194, 0.5)
      ),
      url(../../assets/images/main-page/main_1.png);
  }
  @at-root .summer & {
    background-image: linear-gradient(
        to bottom,
        rgba(90, 0, 92, 0.5),
        rgba(137, 0, 139, 0.5),
        rgba(174, 0, 194, 0.5)
      ),
      url(../../assets/images/main-page/main_2.png);
  }
  @at-root .autumn & {
    background-image: linear-gradient(
        to bottom,
        rgba(90, 0, 92, 0.5),
        rgba(137, 0, 139, 0.5),
        rgba(174, 0, 194, 0.5)
      ),
      url(../../assets/images/main-page/main_3.png);
  }
  @at-root .winter & {
    background-image: linear-gradient(
        to bottom,
        rgba(90, 0, 92, 0.5),
        rgba(137, 0, 139, 0.5),
        rgba(174, 0, 194, 0.5)
      ),
      url(../../assets/images/main-page/main4.png);
  }
}

@mixin border-top-5500ff {
  & {
    border-top-color: #5500ff;
  }
}

@mixin border-bottom-2px-5500ff {
  & {
    border-bottom: 2px solid #5500ff;
  }
}

@mixin border-baabfa {
  & {
    border-color: $color-baabfa;
  }
  @at-root .spring & {
    border-color: $color-fee088;
  }
  @at-root .summer & {
    border-color: $color-9ebeed;
  }
  @at-root .autumn & {
    border-color: $color-a44200;
  }
  @at-root .winter & {
    border-color: $color-7c92a8;
  }
}

// @mixin border-5500ff {
//   & {
//     border-bottom: 1px solid #5500ff;
//   }
//   @at-root .spring & {
//     border-bottom: $color-fee088;
//   }
//   @at-root .summer & {
//     border-bottom: $color-9ebeed;
//   }
//   @at-root .autumn & {
//     border-bottom: $color-a44200;
//   }
//   @at-root .winter & {
//     border-bottom: $color-7c92a8;
//   }
// }
