.admin-contact__container {
  width: 1280px;
  margin: 0 auto;
  .admin-contact__page-header {
    .admin-contact__select-box-container {
      .accom-type-select {
        font-size: 16px;
        font-weight: 600;
        padding: 16px;
        border: none;
        outline: none;
        border-radius: 10px;
        text-align: center;

        -o-appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        @include admin-input-shadow;
      }
    }
  }
}
