
.sign-title1 {
    width: 400px;
    height: 40px;    
    font-size: 32px;
    font-weight: bold;
    left: 175px;
    top: 60px;
    margin-bottom: 10px;
}

.t1 {
    font-size: 24px;
    text-align: center;
}

.sign-comlet-wrap{
    width: 340px;
    height: 142px;
    font-size: 14px;
    margin: auto;

    span {
        @include color-5500ff;
        font-weight: bold;
    }

    .sign-comlet-btn{
        width: 340px;
        height: 36px;
        margin-top: 50px;
    }
}
