.test-page__container {
  .test-page__section {
    margin-bottom: 24px;

    h1,
    h3 {
      margin-bottom: 12px;
    }

    .test-page__test-area {
      margin-bottom: 12px;

      .test-page__text-link-container {
        display: inline-block;
        border: 1px solid;
        padding: 8px 24px;
      }
      .test-page__test-input {
        padding: 24px;
        .global-input__shrink-container {
          width: 100%;
          .global-input {
            width: 100%;
          }
        }
        .global-input {
          width: 100%;
        }
      }
    }
  }
}
