.global-star-rating__star-container {
  width: 54px;
  height: 54px;

  &.test {
    width: 24px;
    height: 24px;
  }

  .global-star-rating__star {
    width: 100%;
    height: 100%;
  }
}
